* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
 }
 
 
 :root{
    --p: rgb(255, 115, 0);
    --s: rgb(51, 50, 49);
    --t: black;
    --q: rgb(134, 67, 12);
 }
 
 
 body {
    background-color: var(--t);
 }
 
 
 header {
    background-color: var(--p);
    height: 3.5rem;
    display: flex;
    border-bottom: var(--s) 0.3rem solid;
    border-radius: 0.1rem;
 }
 
 
 header div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
 }   
 
 
 header div h1{
   
    font-size: 200%;
 }
 
 
 header div img{
    width: 4%;
 }
   
 header picture ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
 }
 
 
 header picture ul li{
    padding: 2%;
    width: 10%;
    display: flex;
    align-items: center;
    height: 100%;
 }
 
 
 header picture ul li img{
    width: 80%;
 }   
 
main{
    min-height: calc(100vh - 5.5rem);
    display: flex;
} 

.nov{
   display: flex; 
   width: 75%;
   align-items: center;
   justify-content: center;
   border-right:var(--s) 0.2rem solid;
   border-radius: 1%;
}

.rec{
   display: inline; 
   width: 25%;
   align-items: center;
   justify-content: center;
   border-left: var(--s) 0.2rem solid;
   border-radius: 3%;
}

.rec img{
   padding: 10%;

}

footer{
   background-color: var(--p);
   height: 2rem;
   display: flex;
   align-items: center;
   
}

footer a img{
   padding-left: 0.1rem; 
   width: 40%;
}